/* ანიმაცია ხორციელდება ჩვეულებრივად — 0%-დან 100%-მდე. */
animation-direction: normal;

/* ანიმაცია ხორციელდება საპირისპირო მიმართულებით — 100%-დან 0%-მდე. */
animation-direction: reverse;

/* პირველ ჯერზე ის იმუშავებს ჩვეულებრივ (0%-დან 100%-მდე), ხოლო შემდეგ განმეორებაზე საპირისპიროდ (100%-დან 0%-მდე). */
animation-direction: alternate;

/* ანიმაცია იწყება საპირისპიროდ (100%-დან 0%-მდე), შემდეგ კი გადადის ჩვეულებრივ მიმართულებაზე (0%-დან 100%-მდე) ყოველი განმეორებისას. */
animation-direction: alternate-reverse;

/* 
normal: ელემენტი იმოძრავებს პირველი კადრიდან ბოლო კადრამდე და ყოველ ჯერზე თავიდან დაიწყებს.
reverse: ელემენტი დაიწყებს ანიმაციას ბოლო მდგომარეობიდან და "უკუ" დაბრუნდება დასაწყისში.
alternate: ყოველი განმეორებისას იცვლის მიმართულებას — თავიდან ბოლომდე და შემდეგ პირიქით.
alternate-reverse: ანალოგიურად alternate-ს, მაგრამ პირველ ჯერზე იწყება უკან და შემდეგ წინ.