div{
    display: flex;
    background-color: black;
    color: white;
    margin: 0;
}

div:hover{
    transform: translate(200px 200px);
    transform: scale(50px);
    transform: rotate(100)
    skew(20px 20px)
    transform-origin(top left) 
}