div {
    background-color: red;
    display: flex;
    flex-direction: center;
    text-align: center;
    align-items: center;
    width: 220px;
    height: 220px;
    color: green;
}

div:hover{
    transform: translate(50px 50px);
    transform: rotate(45deg);
    transform-origin: bottom left;
    transform: scale(50px);
}