body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 500px;
    height: 500px;
    background-color: red;

    transform: rotate(45deg);
    transform: translate(0, 125px);
    transform: skew(30deg);
}

div:hover{
    transform: scale(1.5);
    transition: 10s;
}